[
  // [ input, [ [ outputChance1, outputItem1 ], [ outputChance2, outputItem2 ], [...] ] ]

  [ "wetdirt", [ [ 1.00, "dirtmaterial" ], [ 0.25, "liquidwater" ] ] ],
  [ "rottenfood", [ [ 0.35, "sewage" ], [ 0.30, "dirtmaterial" ], [ 0.10, "cellmatter" ] ] ],
  [ "soggypaper", [ [ 0.75, "paper" ], [ 0.25, "liquidwater" ] ] ],
  [ "liquidfuel", [ [ 0.10, "solidfuel" ], [ 0.50, "liquidhealing" ] ] ],
  [ "toxicwaste", [ [ 0.90, "waste" ], [ 0.10, "uraniumore" ], [ 0.05, "plutoniumore" ] ] ],
  [ "slag", [ [ 1.00, "ironore" ], [ 0.75, "copperore" ], [ 0.50, "silverore" ], [ 0.25, "goldore" ] ] ]
]
