[
  // [ input, [ [ outputChance1, outputItem1 ], [ outputChance2, outputItem2 ], [...] ] ]

  [ "blaststone", [ [ 1.00, "stonerubble" ] ] ],
  [ "cobblestonematerial", [ [ 1.00, "gravelmaterial" ], [ 0.25, "ironore" ], [ 0.25, "copperore" ] ] ],
  [ "direstone", [ [ 1.00, "sand" ], [ 0.50, "ash" ] ] ],
  [ "drydirt", [ [ 1.00, "dirtmaterial" ], [ 1.00, "dirtmaterial" ] ] ],
  [ "drysand", [ [ 1.00, "sand2" ], [ 1.00, "sand2" ] ] ],
  [ "frozendirt", [ [ 1.00, "wetdirt" ], [ 0.50, "slush" ] ] ],
  [ "geodeblock", [ [ 1.00, "crystal" ], [ 0.05, "geode" ] ] ],
  [ "geodestone", [ [ 1.00, "gravelmaterial" ], [ 0.10, "geode" ] ] ],
  [ "gravelmaterial", [ [ 1.00, "sand2" ], [ 1.00, "sand2" ], [ 0.25, "sand2" ] ] ],
  [ "ice", [ [ 1.00, "slush" ], [ 0.25, "slush" ] ] ],
  [ "limestone", [ [ 1.00, "gravelmaterial" ], [ 0.50, "gravelmaterial" ], [ 0.10, "ironore" ], [ 0.10, "copperore" ] ] ],
  [ "magmarock", [ [ 1.00, "gravelmaterial" ], [ 0.50, "gravelmaterial" ], [ 0.10, "ironore" ], [ 0.10, "copperore" ] ] ],
  [ "meteoriterock", [ [ 1.00, "gravelmaterial" ], [ 0.50, "gravelmaterial" ], [ 0.10, "ironore" ], [ 0.10, "copperore" ] ] ],
  [ "moonrock", [ [ 1.00, "moondust" ], [ 0.50, "moondust" ] ] ],
  [ "moonstone", [ [ 1.00, "moondust" ], [ 0.25, "moondust" ] ] ],
  [ "sandstonematerial", [ [ 1.00, "sand2" ], [ 0.50, "sand" ] ] ],
  [ "frozenwater", [ [ 1.00, "slush" ], [ 0.25, "slush" ] ] ],
  [ "stonerubble", [ [ 1.00, "gravelmaterial" ], [ 0.25, "gravelmaterial" ], [ 0.05, "ironore" ], [ 0.05, "copperore" ] ] ]
]
