[
  // [ input, [ [ outputChance1, outputItem1 ], [ outputChance2, outputItem2 ], [...] ] ]

  [ "ash", [ [ 0.10, "coalore" ], [ 0.05, "copperore" ], [ 0.05, "silverore" ], [ 0.03, "goldore" ], [ 0.01, "ironore" ], [ 0.01, "tungstenore" ], [ 0.01, "titaniumore" ], [ 0.01, "durasteelore" ] ] ],
  [ "dirtmaterial", [ [ 0.10, "coalore" ], [ 0.05, "copperore" ], [ 0.05, "silverore" ], [ 0.03, "goldore" ], [ 0.01, "ironore" ], [ 0.01, "tungstenore" ], [ 0.01, "titaniumore" ], [ 0.01, "durasteelore" ] ] ],
  [ "sand", [ [ 0.10, "coalore" ], [ 0.05, "copperore" ], [ 0.05, "silverore" ], [ 0.03, "goldore" ], [ 0.01, "ironore" ], [ 0.01, "tungstenore" ], [ 0.01, "titaniumore" ], [ 0.01, "durasteelore" ] ] ],
  [ "moondust", [ [ 0.10, "coalore" ], [ 0.05, "copperore" ], [ 0.05, "silverore" ], [ 0.03, "goldore" ], [ 0.01, "ironore" ], [ 0.01, "tungstenore" ], [ 0.01, "titaniumore" ], [ 0.01, "durasteelore" ] ] ],
  [ "sand2", [ [ 0.10, "coalore" ], [ 0.05, "copperore" ], [ 0.05, "silverore" ], [ 0.03, "goldore" ], [ 0.01, "ironore" ], [ 0.01, "tungstenore" ], [ 0.01, "titaniumore" ], [ 0.01, "durasteelore" ] ] ],
  [ "slush", [ [ 0.10, "coalore" ], [ 0.05, "copperore" ], [ 0.05, "silverore" ], [ 0.03, "goldore" ], [ 0.01, "ironore" ], [ 0.01, "tungstenore" ], [ 0.01, "titaniumore" ], [ 0.01, "durasteelore" ] ] ]
]
