[
  // [ input, [ [ outputChance1, outputItem1 ], [ outputChance2, outputItem2 ], [...] ] ]

  [ "copperore", [ [ 1.00, "copperbar" ], [ 0.10, "slag" ] ] ],
  [ "silverore", [ [ 1.00, "silverbar" ], [ 0.10, "slag" ] ] ],
  [ "goldore", [ [ 1.00, "goldbar" ], [ 0.10, "slag" ] ] ],
  [ "ironore", [ [ 1.00, "ironbar" ], [ 0.10, "slag" ] ] ],
  [ "tungstenore", [ [ 1.00, "tungstenbar" ], [ 0.10, "slag" ] ] ],
  [ "titaniumore", [ [ 1.00, "titaniumbar" ], [ 0.10, "slag" ] ] ],
  [ "durasteelore", [ [ 1.00, "durasteelbar" ], [ 0.10, "slag" ] ] ],
  [ "aegisaltore", [ [ 1.00, "refinedaegisalt" ], [ 0.10, "slag" ] ] ],
  [ "feroziumore", [ [ 1.00, "refinedferozium" ], [ 0.10, "slag" ] ] ],
  [ "violiumore", [ [ 1.00, "refinedviolium" ], [ 0.10, "slag" ] ] ],
  [ "solariumore", [ [ 1.00, "solariumstar" ], [ 0.10, "slag" ] ] ],
  [ "uraniumore", [ [ 1.00, "uraniumrod" ], [ 0.10, "toxicwaste" ] ] ],
  [ "plutoniumore", [ [ 1.00, "plutoniumrod" ], [ 0.10, "toxicwaste" ] ] ]
]
