{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/processors/processor_header.png",
      "fileBody" : "/interface/processors/processor_body.png",
      "fileFooter" : "/interface/processors/processor_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 48],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 84]
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [40, 38],
      "dimensions" : [5, 2],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [26, 51],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/processors/processor_shine.png",
      "position" : [1, 20]
    }
  }
}
